.content {
    flex: 1; 
    padding: 16px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .form-con {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    font-family: arial, helvetica, sans-serif;
    width: 100%;
    max-width: 500px; 
  }
  
  .form-control {
    padding: 8px;
    font-size: small;
    width: 350px; 
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-custom1 {
    background-color: #0496FF;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
  }
  