.forgot-content {
    flex: 1;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.supervisor-forgot-form {
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    font-family: arial, helvetica, sans-serif;
    width: 100%;
    max-width: 550px;
}

.centered-elements {
    text-align: center;
    margin-bottom: 20px;
}

.form-control {
    padding: 8px;
    font-size: small;
    width: 350px;
}

.form-group {
    margin-bottom: 20px;
}

.custom-btn1 {
    background-color: #0496FF;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    cursor: pointer;
}

.supervisor-login a {
    color: #0496FF;
}

.supervisor-login {
    text-align: center;
    margin-top: 10px;
}